body{
    margin: 0;
}


/* navbar */
nav{
    background-color: #8d00eb;
    list-style-type: none;
    padding: 15px;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 650;
    height: 100%;
    width: 100%;
    padding: 15px;
}

nav a:hover{
    background-color: #ad4af0;
}
nav a.active{
    background-color: white;
    color: black;
    border-bottom: 5px black solid;
}

nav a.active:hover{
    color: #ad4af0;
}

/* title */

.title{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title img{
    width: 25%;
}

.title h1{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt";
    margin: 0;
}

.title h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    margin: 0;
}

.title a{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
    color: white;
    background-color: #ad4af0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.title a:hover{
    background-color: #8d00eb;
}

.about{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.about-text{
    width: 75%;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt";
    margin: 0;
}

.about-img{
    width: 25%;
}

.about-img img{
    width: 75%;
}

footer{
    background-color: rgb(128, 126, 126);
    color: white;
    font-family: "cairo", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 30px;
    display: flex;
}

footer div{
    width: 30%;
}

footer img{
    width: 10%;
    margin: 0px;
}

footer h1{
    margin: 0px;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: black;
}