* {
    color: white;
}

body{
    margin: 0;
    background-color: black;
}

.nav-phone, .menu{
    display: none;
}


/* navbar */
nav, .nav-phone{
    background-color: #480177;
    opacity: 0.9;
    /* filter: blur(5px); */
    list-style-type: none;
    padding: 15px;
    position: sticky;
    top: 0;
}
nav a{
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 650;
    height: 100%;
    width: 100%;
    padding: 15px;
    opacity: 1;
}

nav a:hover{
    background-color: #ad4af0;
}
nav a.active{
    background-color: white;
    color: black;
}

nav a.active:hover{
    color: #ad4af0;
}

/* title */

.title{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title img{
    width: 25%;
}

.title h1{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt";
    margin: 0;
}

.title h2{
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    margin: 0;
}

.title a{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: larger;
    color: white;
    background-color: #ad4af0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.title a:hover{
    background-color: #8d00eb;
}

.discord a{
    background-color: black;
}

.discord img{
    width: 25%;
}

.discord a:hover{
    img:hover {
        filter: brightness(125%); 
    }
    background-color: black;
}

.about{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.about-text{
    width: 75%;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt";
    margin: 0;
}

.about-img{
    width: 25%;
}

.about-img img{
    width: 75%;
}

footer{
    background-color: rgb(75, 75, 75);
    color: white;
    font-family: "cairo", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 30px;
    display: flex;
}

footer div{
    width: 30%;
}

footer img{
    width: 25%;
    margin: 0px;
}

footer h1{
    margin: 0px;
}

footer ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: black;
}


/* FAQs styles */

.qanda{
    padding: 5px;
    margin: 5px;
}

.qanda h1{
    padding: 5px;
    font-family: "ubuntu", sans-serif;
    border-left: #ad4af0 5px solid;
    font-size: 20px;
}

.qanda p{
    padding: 5px;
    font-family: "cairo", sans-serif;
    font-size: 18px;
}

@media screen and (max-width:720px){
    .discord img{
        width: 50%;
    }

    .nav-phone{
        display: flex;
        height: 55px;
        padding: 0;
    }
    .nav-phone div{
        font-family: "cairo", sans-serif;
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 32px;
        padding: 5px;
    }

    .nav-phone p{
        width: 50%;
    }

    .menu{
        display: none;
        /* opacity: 0; */
        background-color: rgb(76, 2, 124, 0.98);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 2;
        padding: 15px;
        margin: 0;
        padding: 0;
    }

    .menu ul{
        list-style-type: none;
    }

    .menu li{
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding: 10px;
    }

    .menu ul{
        margin: 0;
        padding: 0;
    }

    .menu a{
        text-decoration: none;        
    }
    .menu li:hover{
        background-color: #8d00eb;
    }
    .menu li.active{
        background-color: #ad4af0;
    }
    
    .menu li.active:hover{
        background-color: #8d00eb;
    }
    
    .nav-phone img{
        width: 50px;
    }
    nav{
        display: none;
    }

    .about div{
        display: block;
        width: 100%;
    }

    footer{
        display: block;
    }
    footer img{
        width: 40%;
    }
    footer div{
        width: 100%;
    }
}